.divider-img {
    object-fit: fill;
    height: 2px !important;
    width: 100%;
}

.skill-badge {
    transition: all 0.3s ease;
}

.skill-badge:hover {
    transform: scale(1.05);
    background-color: #e7f1ff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}