body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resume-document {
  min-height: calc(100vh - 32px);
  margin: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.175);
  padding: 24px 28px;
  box-sizing: border-box;
  width: auto;
  max-width: calc(100vw - 32px);
  overflow-x: auto;
}

@media print {
  .app {
    padding:0 !important;
  }
  .pagebreak { page-break-after: always; } /* page-break-after works, as well */
  .quote-text {
    margin:0!important;
  }
}